<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AutosaveTime" value="50" />
		<add key="ThemeColor" value="Gray" />
		<add key="TimeMachine" value="1" />
		<add key="OldPaths" value="Helper.rtf" />
		<add key="CSharpCommentStyle" value="-16744448" />
		<add key="CSharpKeywordStyle" value="-8355712" />
		<add key="CSharpAttributeStyle" value="-16776961" />
		<add key="CSharpClassNameStyle" value="-16776961" />
		<add key="CSharpCommentTagStyle" value="-32704" />
		<add key="CSharpNumberStyle" value="-65281" />
		<add key="CSharpStringStyle" value="-8388608" />
		<add key="CSharpVariableStyle" value="-8355585" />
	</appSettings>
</configuration>